/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.toggle-menu-icon {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 56px;
    padding: 15px;
    z-index: 1;
    background: none;
    border: none;
}
.toggle-menu-icon span {
    display: block;
    height: 2px;
    margin: 5px 0;
    background-color: #fff;
}
.toggle-menu-icon span:last-child {width: 70%;margin-left: auto;}